cat <<EOF > .gitignore
# Python
.venv/
__pycache__/
*.pyc
data/
!apps/api/data/
apps/api/data/*
!apps/api/data/Weekly Meeting Example complete.json
!apps/api/data/receips/
apps/api/data/receips/*
!apps/api/data/receips/receipt_test.jpg
.python-version


# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
*.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Node
.next/
node_modules/
.pnpm-store/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# Env
.env
.env.*
!.env.example

# Devcontainer cache
.vscode/
EOF
.ruff_cache/
.idea/


#alembic
alembic/versions/__pycache__/

# database
*.db
*.sqlite
